    /* ---------  768 ------ */
    @media screen and (max-width: 1070px) {
      html {
        font-size: 16px;
      }

      header {
        padding: 30px 0 33px;
      }

      .logo-subtitle {
        line-height: 26px;
      }

      .header-bar {
        margin-right: 10px;
      }

      /* ----------pets----------- */
      section.pets .page {
        padding: 77px 0 77px;
        gap: 28px;
      }

      .item2 {
        grid-template-columns: 38.13% 38.13%;
        grid-template-rows: auto auto auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 34px;
      }

      .navigation {
        margin: 15px 0 0;
        column-gap: 20px;
      }

      .item2 .card:nth-child(3) {
        display: grid;
      }

      /* .item2 .card:last-child,
      .item2 .card:nth-last-child(2) {
        display: none;
      } */
    }

    @media screen and (max-width: 750px) {
      html {
        font-size: 14px;
      }
    }

    @media screen and (max-width: 600px) {
      html {
        font-size: 14px;
      }

      /* ---pets--- nth-child(1) - template */

      section.pets .page {
        padding: 41px 0 42px;
        gap: 40px;
      }

      .item2 .card:nth-child(2),
      .item2 .card:nth-child(3),
      .item2 .card:nth-child(4),
      .item2 .card:last-child {
        display: grid;
      }

      /* .item2 .card:nth-child(5),
      .item2 .card:nth-child(6),
      .item2 .card:nth-child(7),
      .item2 .card:nth-child(8),
      .item2 .card:last-child {
        display: none;
      } */

      .item2 {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 34px;
      }

      .card {
        justify-content: center;
      }

      .navigation {
        margin: 7px 0 0;
        column-gap: 10px;
      }
    }

    /* ------- 320 ---------   */

    @media screen and (max-width: 440px) {
      html {
        font-size: 16px;
      }

      .page {
        width: calc(300 / 320 * 100%);
        height: 1649px;
      }

      header {
        padding: 28px 0 33px 10px;
      }

      .header .page {
        width: 280px;
      }

      h1,
      h3 {
        font-size: 25px;
        line-height: 130%;
        /* or 32px */
        /* align-items: center; */
        /* text-align: center; */
        letter-spacing: 0.06em;
      }

      /* ---pets--- nth-child(1) - template */

      section.pets .page {
        padding: 41px 0 42px;
        /* flex-direction: column; */
        /* height: 100%; */
        gap: 40px;
      }

      .item2 .card:nth-child(2),
      .item2 .card:nth-child(3),
      .item2 .card:nth-child(4),
      .item2 .card:last-child {
        display: grid;
      }

      /* .item2 .card:nth-child(5),
      .item2 .card:nth-child(6),
      .item2 .card:nth-child(7),
      .item2 .card:nth-child(8),
      .item2 .card:last-child {
        display: none;
      } */

      .item2 {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        justify-content: center;
        column-gap: 40px;
        row-gap: 34px;
      }

      .card {
        justify-content: center;
      }

      .navigation {
        margin: 7px 0 0;
        column-gap: 10px;
      }
    }

    @media screen and (max-width: 767px) {

      .bar1,
      .bar2,
      .bar3 {
        /* width: 30px; */
        /* margin: 8px 0 5px; */
        /* border: 2px solid; */
        /* border-width: 0px 0px 2px; */
        border-color: transparent transparent #000000 transparent;
        /* transition: 0.4s; */
      }
    }