@media screen and (max-width: 1070px) {
  html {
    font-size: 14px;
  }

  /* ----------pets----------- */
  section.pets .page {
    padding: 77px 0 75px;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 28px;
  }

  .item {
    /* display: grid; */
    grid-template-columns: 38.13% 38.13%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    column-gap: 40px;
    row-gap: 34px;
    /* width: 100%; */
  }

  .navigation {
    margin: 15px 0 0;
  }

  /* .item .card {
    border: 1px solid greenyellow;
  } */

  #item-active .card:nth-child(3) {
    display: grid;
  }

  .item .card:last-child,
  .item .card:nth-last-child(2) {
    display: none;
  }
}