.move-right {
  animation-name: go-right;
  animation-duration: 1s;
}

@keyframes go-right {
  from {
    left: -1200px;
  }

  to {
    left: -2400px;
  }
}

.move-left {
  animation-name: go-left;
  animation-duration: 1s;
}

@keyframes go-left {
  from {
    left: -1200px;
  }

  to {
    left: 0px;
  }
}

/* ----------------2------------------ */
.move-right2 {
  animation-name: go-right2;
  animation-duration: 1s;
}

@keyframes go-right2 {
  from {
    left: -708px;
  }

  to {
    left: -1416px;
  }
}

.move-left2 {
  animation-name: go-left2;
  animation-duration: 1s;
}

@keyframes go-left2 {
  from {
    left: -708px;
  }

  to {
    left: 0px;
  }
}

/* ------------3----------------- */
.move-right3 {
  animation-name: go-right3;
  animation-duration: 1s;
}

@keyframes go-right3 {
  from {
    left: -300px;
  }

  to {
    left: -600px;
  }
}

.move-left3 {
  animation-name: go-left3;
  animation-duration: 1s;
}

@keyframes go-left3 {
  from {
    left: -300px;
  }

  to {
    left: 0px;
  }
}


.hidden {
  display: none;
}