@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }

  .page {
    width: calc(600 / 640 * 100%);
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  html {
    font-size: 10px;
  }

  .container {
    /* max-width: 320px; */
    max-width: 100%;
  }

  .page {
    width: calc(300 / 320 * 100%);
  }

  /* ---------------------------------------------- */
  .nav {
    display: none;
  }

  /* ---------bigl----------- */
  .bigl {
    max-height: 823px;
    /* height: 908px; */
    width: 100%;
    margin: -90px auto 0;
    padding: 90px 0 0 0;
  }


  .bigl .page {
    grid-template-columns: 100%;
    grid-template-rows: 34.14% 32.92%;
    gap: 8.75rem;
    /* 105px; */
    justify-content: center;
  }

  .bigl-text {
    padding: 106px 0 0 0;
    justify-items: center;
  }

  .bigl-text h1:first-child {
    padding: 0 154px 0 0;
  }

  .bigl-text p:nth-child(2) {
    width: 65%;
  }

  .bigl-picture img {
    max-width: 569px;
    max-height: 593px;

    width: 100%;
    height: auto;
  }

  /* ---------about---------- */
  section.about.page {
    padding: 67px 0 138px;
    width: 56%;
    max-height: 1048px;
    display: grid;
    row-gap: 4.714rem;
    /* 66px; */
    grid-template-columns: 100%;
    grid-template-rows: 48.22% 51.77%;
    justify-items: center;
  }

  .about-picture {
    order: 2;
  }

  .about-picture img {
    max-width: 300px;
    max-height: 408px;
    width: 100%;
    height: auto;
  }

  .about-text {
    /* display: grid; */
    gap: 10px;
    order: 1;
  }

  .about-text h3 {
    padding: 14px 60px 0 0;
  }

  /* ----------pets----------- */
  section.pets .page {
    padding: 78px 0 100px;
  }

  #item-active .card:nth-child(3) {
    display: none;
  }

  /* ------help---------- */
  section.help .page {
    padding: 84px 0 100px;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* ----- */
    gap: 59px;
  }

  .gifts {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    max-width: 708px;
    column-gap: 4.2857rem;
    /* 60px; */
    row-gap: 4rem;
    /* 56px; */
  }

  .some {
    text-align: center;
    width: 24%;
    width: calc(170 / 708%);
  }

  /* ---------donation----------- */
  section.donation .page {
    padding: 83px 0 100px;
    /* display: grid; */
    grid-template-columns: 100%;
    grid-template-rows: 36.01% 33.33%;
    justify-items: center;
    row-gap: 8.8571rem;
    /* 124px; */
    max-width: 708px;
    max-height: 783px;
  }

  .donation-picture {
    padding: 0;
    order: 2;
  }

  .donation-text {
    /* display: grid; */
    order: 1;
    row-gap: 19px;
    justify-items: left;
    width: 54%;
  }

  .credit-card {
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    /* width: 350px; */
    /* height: 43px; */
    padding: 0 17px 0 5px;
  }

  /* ---------footer-------- */
  footer {
    max-height: 639px;
  }

  footer .page {
    display: grid;
    column-gap: 4.2142rem;
    /* 59px; */
    row-gap: 5.1428rem;
    /* 72px; */
    grid-template-columns: 40% 43%;
    grid-template-rows: 40% 51%;
    justify-content: center;
  }

  .dog-picture {
    padding: 0;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
  }

  .question,
  .waiting {
    padding: 32px 0 0;
  }
}