@media screen and (max-width: 767px) {
  div.burger-menu {
    display: block;
  }

  .active {
    /* right: -39px; */
    right: 0;
    transition: all 0.4s ease-out;
  }

  .inactive {
    /* right: -338px; */
    right: -1000px;
    transition: all 1s ease-in;
  }

  .nav {
    display: none;
  }

  .header-bar {
    display: inline-block;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    margin: 8px 0 5px;
    border: 2px solid;
    border-width: 0 0 2px;
    border-color: transparent transparent #F1CDB3 transparent;
    transition: all 0.3s;
  }

  .header-bar.change {
    display: flex;
  }

  .header-bar.change .bar1,
  .header-bar.change .bar2,
  .header-bar.change .bar3 {
    width: 2px;
    height: 30px;
    margin: 5px 8px 0 0;
    border-width: 0 2px 0 0;
    border-color: transparent #F1CDB3 transparent transparent;
  }


  /* --------------Window Burger----------------------------------- */

  div.burger-menu {
    position: absolute;
    /* top: -30px; */
    /* right: -2000px; */

    z-index: 0;
    width: 320px;
    height: 823px;
    background: #292929;
    cursor: pointer;
  }

  /* --------------Window Burger----------------------------------- */
  .burger-list {
    display: flex;
    flex-direction: column;
    padding: 0 15px 30px 44px;
    list-style: none;

  }

  .burger-item {
    text-align: right;
    margin-bottom: 10px;
  }

  .burger-link {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
  }
}