html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --orange-color: #FE9013;
  --yelow-color: #FFEE2E;
  --text-color: #333B41;

  --fonts-family: 'Roboto', Arial, Helvetica, sans-serif;
  --fonts-family-else: 'Recoleta', serif;
}

body {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(20rem / 16);
}

.container {
  display: flex;
  /* max-width: 1280px; */
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  overflow: hidden;
}

.page {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  /* width: calc(1200 / 1280 * 100%); */
  border: 1px solid rgba(193, 232, 21, 0.468);
}

header {
  display: flex;
  max-width: 100%;
  padding: 30px 0 0;
  justify-content: center;
}

header .page {
  justify-content: space-between;
  height: 60px;
  align-items: center;
  position: relative;
}

.logo {
  height: 100%;
}

/* logo_title */
.logo-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}

.logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  /* line-height: 110%; */
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  width: 36.9%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}


.nav li {
  /* по горизонтали */
  display: inline-block;
}

.nav li a:hover {
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  padding: 0 0 3px;
  color: #F8F8F8;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
}

.menu-link.active {
  border: 3px solid;
  border-width: 0px 0px 3px;
  border-color: transparent transparent #F1CDB3 transparent;
}





/* ------------main--------------- */
main {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(13, 161, 112, 0.071);
}

footer {
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
  /* width: 100%; */
  /* ------row------ */
  justify-content: center;
  background-color: rgb(183, 114, 11);
}

.bigl {
  max-height: 908px;
  height: 908px;
  width: 100%;
  margin: -90px auto 0;
  padding: 90px 0 0 0;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  border: 1px solid yellow;
}

.bigl .page {
  min-height: 100%;
  display: grid;
  grid-template-columns: 38.33% 58.16%;
  gap: 42px;
  align-items: center;
}

.bigl-text {
  display: grid;
  gap: 42px;
}

.bigl-text p:first-child {
  /* margin: 0 0 42px; */
  padding: 0 150px 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}


.bigl-text p:nth-child(2) {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.bigl-btn {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.bigl-btn:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.bigl-picture img {
  max-width: 698px;
  max-height: 728px;
  width: 100%;
  height: auto;
  margin: 90px 0 0 0;
}