html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --fonts-family: 'ArialMT', Arial, Helvetica, sans-serif;
  --fonts-family-else: 'Georgia', serif;
}

.logo-title a:hover,
.logo-title a:active {
  /* color: #FDDCC4; */
  color: #f76d0a;

}

a:hover,
a:active {
  /* color: #FDDCC4; */
  color: #f76d0a;
  cursor: pointer;
}

a,
button,
.credit-card {
  transition: all 500ms ease-in-out;
}

body {
  margin: 0 auto;
  font-family: 'ArialMT', Arial, Helvetica, sans-serif;
  font-size: calc(20rem / 16);
}

.container {
  display: flex;
  /* max-width: 1280px; */
  /* box-sizing: content-box; */
  /* padding: 0 3.125%; */
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  overflow: hidden;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.page {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /* width: calc(1200 / 1280 * 100%); */
  /* border: 1px solid rgba(193, 232, 21, 0.468); */
}

header {
  display: flex;
  max-width: 100%;
  padding: 30px 0 0;
  justify-content: center;
}

header .page {
  justify-content: space-between;
  height: 60px;
  align-items: center;
  position: relative;
}

.logo {
  height: 100%;
}

/* logo_title */
.logo-title {
  display: flex;
  align-items: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo-title a {
  text-decoration: none;
  color: #F1CDB3;
  /* -webkit-text-stroke: 0.5px #000000; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav {
  width: 36.9%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}


.nav li {
  /* по горизонтали */
  display: inline-block;
}

.nav li a:hover {
  cursor: pointer;
  color: #FAFAFA;
}

.menu-link {
  text-decoration: none;
  padding: 0 0 3px;
  color: #CDCDCD;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.menu-link.active {
  border: 3px solid;
  border-width: 0px 0px 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FAFAFA;
  border-color: transparent transparent #F1CDB3 transparent;
}

/* ------------main--------------- */
main {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

/* ----------bigl--------------- */
.bigl {
  max-height: 908px;
  height: 908px;
  width: 100%;
  margin: -90px auto 0;
  padding: 90px 0 0 0;
  background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.bigl .page {
  min-height: 100%;
  display: grid;
  grid-template-columns: 38.33% 58.16%;
  gap: 42px;
  align-items: center;
}

.bigl-text {
  display: grid;
  gap: 42px;
}

.bigl-text h1:first-child {
  padding: 0 150px 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}


.bigl-text p:nth-child(2) {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.bigl-btn {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

/* .bigl-btn:hover { */
button:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.bigl-picture img {
  margin: 90px 0 0 0;
  max-width: 698px;
  max-height: 728px;
  width: 100%;
  height: auto;
}

/* -------about---------- */

section.about.page {
  padding: 80px 175px 97px;
  display: grid;
  grid-template-columns: 49.5% 50.5%;
  justify-content: flex-start;
}

.about-picture img {
  max-width: 300px;
  max-height: 408px;
  width: 100%;
  height: auto;
}

.about-text {
  display: grid;
  gap: 5px;
}

.about-text h3 {
  padding: 14px 60px 0 0;
}

.about-text p:nth-child(2),
.about-text p:nth-child(3) {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* ----------pets----------- */
section.pets {
  /* height: 877px; */
  background: #F6F6F6;
}

section.pets .page {
  padding: 77px 0 100px;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 61px;
}

section.pets .page h3 {
  text-align: center;
}

.carousel {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.button-left,
.button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.button-right {
  right: 0;
}

.button-left:hover,
.button-right:hover {
  background: #FDDCC4;
  border: none;
  cursor: pointer;
}

.item {
  margin: 0 auto;
  display: flex;
  width: 82.5%;
  justify-content: space-between;
}

.card {
  /* border: 1px solid red; */
  display: grid;
  gap: 30px;
  border-radius: 9px;
  background: #FAFAFA;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
}

.card:hover button {
  background: #FDDCC4;
  border: none;
  transition: all 500ms ease-in-out;
}

.card img {
  max-width: 270px;
  max-height: 270px;
  width: 100%;
  height: auto;
  /* background: #FAFAFA; */
  border-radius: 9px 9px 0px 0px;
}

.card p {
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card button {
  margin: 0 auto 26px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.card button:hover {
  border: none;
}

.pets .page>button {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pets .page>button:hover {
  background: #FDDCC4;
  cursor: pointer;
  border: none;
}

/* ------help---------- */
section.help {
  /* height: 611px; */
  background: #FFFFFF;
}

section.help .page {
  /* padding: 80px 0 100px; */
  padding: 84px 0 100px;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 3.5rem;
  /* 56px; */
}

section.help .page h3 {
  text-align: center;
}

.gifts {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  max-width: 1028px;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 7.25rem;
  /* 116px */
  row-gap: 3.4375rem;
  /* 55px; */
}

.some {
  text-align: center;
}

.some img {
  flex-grow: 1;
  height: auto;
}

.some h4 {
  padding: 24px 0 0 0;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* ---------donation----------- */
section.donation {
  background: #F6F6F6;
}

section.donation .page {
  padding: 83px 0 100px;
  display: grid;
  grid-template-columns: 55.19% 41.53%;
  column-gap: 30px;
  justify-content: center;
  max-width: 915px;
  width: 100%;
}

.donation-picture {
  padding: 10px 0 0 0;
}

.donation-picture img {
  max-width: 505px;
  max-height: 261px;
  width: 100%;
  height: auto;
}

.donation-text {
  display: grid;
  row-gap: 20px;
}

.donation-text h3:first-child {
  text-align: left;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.credit-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  border: none;
}

.credit-card:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.credit-card img:first-child {
  padding-left: 8px;
}

.credit-card img:first-child+img {
  padding-top: 8px;
}

.donation-text p:nth-child(2) {
  text-align: left;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation-text p:nth-child(4) {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

/* ---------footer-------- */
footer {
  display: flex;
  flex: 1 1 100%;
  max-width: 100%;
  /* min-height: 350px; */
  width: 100%;
  /* width: 100%; */
  /* ------row------ */
  justify-content: center;
  background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

footer .page {
  display: grid;
  column-gap: 160px;
  grid-template-columns: 23.16% 25.16% 25%;
  grid-template-columns: 23.25% 25.16% 25%;

}

.question,
.waiting {
  padding: 56px 0 60px;
}

.dog-picture {
  padding: 40px 0 0 0;
}

.question {
  display: grid;
  row-gap: 38px;
}

.question h3,
.waiting h3 {
  color: #FFFFFF;
}

.mail img,
.mail span,
.phone img,
.phone span,
.pin2 img,
.pin2 span {
  vertical-align: middle;
  text-align: left;
}

.fone-number,
.mail-address,
.address1,
.address2 {
  text-decoration: none;
  color: #F1CDB3;
}

/* ---------second column------ */
.waiting {
  display: grid;
  row-gap: 33px;
}

.dog-picture img {
  max-width: 300px;
  max-height: 310px;
  width: 100%;
  height: auto;
}

.pin1 {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.address1,
.address2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}